/* GLOBAL STYLES */

ul {
    list-style:none;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
}

.vert-middle {
    display:table-cell; 
    vertical-align:middle;
}

.img-center {
    display:block; 
    margin: 0px auto;
}

/* END GLOBAL STYLES */

/* LANDING PAGE */
#code-outer {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
}

#fitness-outer {
    position:absolute;
    top:0;
    left:50%;
    width:50%;
    height:100%;
}

#code-container {
	width:100%;
	height:100%;
	display:table;
	z-index: 1;
}

.code-section, .fitness-section {
	padding: 10px 0px;
	display: table-cell;
	vertical-align: middle;
    background-color: rgba(0,0,0,.5);
    color:white;
}

    .code-section h1, .fitness-section h1 {
        color:orange;
    }

    .code-section h2, .fitness-section h2 {
        color:white; 
        padding:10px 10px;
    }

    .code-section hr, .fitness-section hr {
        background-color:orange; 
        height:5px; 
        width:60%;
    }

    .code-section img, .fitness-section img {
        border-radius:50%; 
        width:70px;
    }

.videos-overlay {
		background-color: rgba(255,255,255,.7);
		padding:10px 0px;

}

.button {
  box-shadow: 4px 4px #E0E0E0;
  border-radius: 5px;
  background:orange;
  font-size:20px;
  width:170px;
  padding:10px 0px;
  color:white;
}
    .button:hover {
    	color: #ffffff;
    	background-color: #000000;
    	box-shadow: 5px 5px #D8D8D8;
    }

.vid-left {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    border-right:3px solid silver;
}

.vid-right {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(50%) translateY(50%);
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(0%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    border-left:3px solid silver;
}
/* End LANDING  PAGE */


/* Fitness */

#my-video {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


/* Web Development */

nav {
    height:60px;
    width:100%;
    background-color: #4bbbeb;
    color:white;
    position:absolute;
    z-index:10;
}

    nav a {
        color:white !important;
    }

    nav p {
        display:inline-block; 
        padding-top:11px;
    }

    nav i {
        padding-top:2px;
    }

    nav ul {
        float:right;
        font-size:18px; 
    }

        nav ul li {
            display:inline-block; 
            padding:18px;
            font-weight:bold;
        }

         nav ul li:hover {
            -webkit-animation: pulse 1s;
            animation: pulse 1s;
             -webkit-transition: all 0.4s ease-in;
            -moz-transition: all 0.4s ease-in;
            -o-transition: all 0.4s ease-in;
            color:white;
            background:#c0c0c0;
            outline:2px solid white;
        }

.slicknav_menu {
    display:none;
}

#hero {
    background-image: url(../img/code.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:100%;
    color:white; 
    position:relative;
    height:100%;
}

    #hero h1 {
        font-weight:bolder; 
        margin-top:0px;
        font-size:44px;
    }

    #hero h3 {
        padding:10px 0px;
    }

    #hero hr {
        padding-bottom: 10px;
    }

    #hero a {
        color:white;
    }

    #hero a i:hover {
        color:#4bbbeb;
        -webkit-animation: pulse 1s;
        animation: pulse 1s; 
    }

.hero-container {
    display:table; 
    height:100%;
    padding-top:30px;
}

.box {
    border: solid 1px #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: linear-gradient(rgba(242, 242, 242, .6), rgba(242, 242, 242, .6));
    color: #333333;
    margin-left:5%;
}

    .box img {
        height:150px; 
        display:block; 
        margin:0 auto;
    }

.social-icons {
    padding: 25px 12px 0px 12px;
}

.scroll-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}

#about {
    background-color:#f0f0f0;
    padding:50px 0px;
    border-bottom: 5px solid #c0c0c0;
    border-top: 5px solid #c0c0c0;
}

    #about img {
        border-radius:50%; 
        box-shadow:
            0 0 0 10px hsl(0, 0%, 80%),
            0 0 0 15px hsl(0, 0%, 90%);
        width:125px; 
        display:block; 
        margin:0px auto 0px auto;
    }

    #about p {
        font-size: 17px; 
        padding:0px 25px;
        margin-bottom:50px;
    }

    #about h3 {
        margin-top: 0px;
    }

ul.tools li {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #7E8385;
    margin-bottom: 5px;
    margin-right: 3px;
    list-style: none;
    background: white;
}

    ul.tools li:hover {
        opacity: 1;
        -webkit-animation: jello 1s;
        animation: jello 1s;
        color:#4bbbeb;
        border-color:#4bbbeb;
    }

ul.skills li {
    display: block;
    clear: both;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 5px 0;
    background: #d8d8d8;
    font-style: italic;
    border:1px solid black;
    color:white;
    border-radius:2px;
}

    ul.skills li i {
        color: #f9f9f9;
    }

    ul.skills li:hover {
        -webkit-animation: pulse 1s;
        animation: pulse 1s;
    }

.stats {
    background-color:#4bbbeb; 
    font-weight: bold;
    padding:10px 5px;
    border-right:1px solid black;
}

.about-divider {
    height: 17px;
    width:50%;
    background: url('../img/hr.png') no-repeat;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 25px;
    background-position: top center;
}

.btn-transparent {
    border:2px solid #4bbbeb;
    padding:.8em 1.6em;
    color:#4bbbeb !important;
    font-weight:bold;
    font-size:1.2em;
}

    .btn-transparent:hover {
        color:#4bbbeb;
        background:white;
        border:2px solid #4bbbeb;
        text-decoration: none;
    }

.btn-blue {
    background:#4bbbeb;
    border:2px solid white;
    padding:.8em 1.6em;
    color:white;
    font-weight:bold;
    font-size:1.2em;
}

    .btn-blue:hover {
        color:#4bbbeb;
        background:white;
        border:2px solid #4bbbeb;
        text-decoration:none;
    }


.header-unit {
  height: 350px;
  position: relative;
  border-bottom: 5px solid #c0c0c0;
}

#video-container {
    position: absolute;
    bottom:0%;
    left:0%;
    height:100%;
    width:100%;
    overflow: hidden;
}

    .header-unit video {
        position:absolute;
        z-index:0;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        top: 30%;
        left: 50%; 
    }

    .header-unit video.fillWidth {
        width: 100%;
    }

.quote-container {
    display:table; 
    height: 350px; 
    width:100%;
}

#quote {
    display:table-cell;
    background-size:cover;
    position:relative;
    z-index: 100;
    color:white;
    vertical-align:middle;
}

    #quote h1 {
        font-size:50px;
    }

    #quote span {
        text-decoration:line-through;
    }

    #quote p {
        font-size:20px; 
        padding-top:20px;
    }

#portfolio {
    background-color:white;
    padding:40px 0px 50px 0px;
}

.element-item {
    padding:5px;
}

.portfolio-img {
    border-radius:3px;
}

#filters label{
    margin:10px 0px 30px 0px;
    width: 16.66666666666667%;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background:white;
    float:left;
    text-align:center;
    box-shadow: 
        0px 0px 0px 1px #aaa, 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 1px 2px rgba(0,0,0,0.2);
}

#filters label.ff-label-type-all{
    border-radius: 3px 0px 0px 3px;
}

#filters label.ff-label-type-3{
    border-radius: 0px 3px 3px 0px;
}

#filters input.ff-selector-type-all:checked ~ label.ff-label-type-all,
#filters input.ff-selector-type-1:checked ~ label.ff-label-type-1,
#filters input.ff-selector-type-2:checked ~ label.ff-label-type-2,
#filters input.ff-selector-type-3:checked ~ label.ff-label-type-3,
#filters input.ff-selector-type-4:checked ~ label.ff-label-type-4,
#filters input.ff-selector-type-5:checked ~ label.ff-label-type-5{
    background: #4bbbeb;
    color: white;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 
        0px 0px 0px 1px #40496e, 
        0 2px 2px rgba(0,0,0,0.1) inset;
}

#filters input{
    display: none;
}

.folio-img{
    color:transparent;
}

.folio-img:hover .img-wrap {
    background-color: black;
    border-radius:3px;
     -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    color:white;
    text-align:center;
}

.folio-img:hover img {
    opacity: 0.3;
    border-radius:3px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    z-index:1;
}

.portfolio-overlay {
    position:absolute; 
    text-align:center; 
    margin-top:20px; 
    font-size:20px; 
    z-index:10; 
    font-weight:bold; 
    width:94%; 
    opacity:1;
    padding-right:3%;
    padding-left:3%;
}

#contact {
    background-color:#4bbbeb;
    padding:40px 0px;
    color:white;
    border-top:5px solid #b7e3f7;
}

#startups {
    background-color:#f0f0f0;
    padding:70px 0px 100px 0px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
    ), url('../img/startups.jpg');
    background-size:cover;
    border-top: 5px solid #c0c0c0;
    color:white;
}

#center-wrap {
  float: left;
  position: relative;
  left: 50%;
}

#center-content { 
  float: left;
  position: relative;
  left: -50%;
}

.mci {
    font-size:30px;
    padding-bottom:30px;
}

    ul.mci li {
        padding:10px 0px;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    }

    ul.mci li i {
        color:#4bbbeb;
    }

.form-control {
    background:transparent;
    color:#fff !important;
    font-weight:bold;
    border:2px solid white;
    margin:25px 0px;
}

.form-btn {
    border:2px solid #b7e3f7;
    padding:.8em 1.6em;
    color:#4bbbeb !important;
    font-weight:bold;
    font-size:1.2em;
    background:white;
}

    .form-btn:hover {
        background:#f0f0f0;
        text-decoration: none;
    }

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 20px #b7e3f7 !important;
  border: 2px solid white !important;
}

.copyright {
    padding:10px 0px;
    font-size: .8em;
    border-top:5px solid #b7e3f7;
    background-color:white;
    color:black;
}