/* GLOBAL STYLES */

ul {
    list-style:none;
}

.vert-middle {
    display:table-cell; 
    vertical-align:middle;
}

/* END GLOBAL STYLES */

/* Index page */
#code-outer {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
}

#fitness-outer {
    position:absolute;
    top:0;
    left:50%;
    width:50%;
    height:100%;
}

#code-container {
	width:100%;
	height:100%;
	display:table;
	z-index: 1;
}

.code-section, .fitness-section {
	padding: 10px 0px;
	display: table-cell;
	vertical-align: middle;
    background-color: rgba(0,0,0,.5);
    color:white;
}

    .code-section h1, .fitness-section h1 {
        color:orange;
    }

    .code-section h2, .fitness-section h2 {
        color:white; 
        padding:10px 10px;
    }

    .code-section hr, .fitness-section hr {
        background-color:orange; 
        height:5px; 
        width:60%;
    }

    .code-section img, .fitness-section img {
        border-radius:50%; 
        width:70px;
    }

.videos-overlay {
		background-color: rgba(255,255,255,.7);
		padding:10px 0px;

}

.button {
  box-shadow: 4px 4px #E0E0E0;
  border-radius: 5px;
  background:orange;
  font-size:20px;
  width:170px;
  padding:10px 0px;
  color:white;
}
    .button:hover {
    	color: #ffffff;
    	background-color: #000000;
    	box-shadow: 5px 5px #D8D8D8;
    }

.vid-left {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    border-right:3px solid silver;
}

.vid-right {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(50%) translateY(50%);
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(0%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    border-left:3px solid silver;
}
/* End Index Page */

/* Fitness */

#my-video {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* Web Development */

#hero {
    background-image: url(../img/code.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:100%;
    height:550px;
    color:white; 
    position:relative;
}

    #hero h1 {
        font-weight:bolder; 
        margin-top:0px;
    }

.hero-container {
    display:table; 
    height:550px;
}

.box {
    border: solid 1px #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: linear-gradient(rgba(242, 242, 242, .6), rgba(242, 242, 242, .6));
    color: #333333;
    margin-left:5%;
}

    .box img {
        height:150px; 
        display:block; 
        margin:0 auto;
    }

nav {
    height:60px;
    width:100%;
    background-color: #4bbbeb;
    color:white;
}

    nav p {
        display:inline-block; 
        padding-top:11px;
    }

    nav i {
        padding-top:2px;
    }

    nav ul {
        float:right;
        font-size:18px; 
    }

        nav ul li {
            display:inline-block; 
            padding:18px;
        }

.slicknav_menu {
    display:none;
}

.social-icons {
    padding: 25px 12px 0px 12px;
}

.scroll-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}

ul.skills li {
    display: block;
    clear: both;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 5px;
    margin: 0 0 5px 0;
    background: white;
    font-style: italic;
    border:1px solid gray;
}

ul.skills li i {
    color: black;
}

#portfolio {
    background-color:white;
    padding:40px 0px;
}

.element-item {
    padding:5px;
}

.portfolio-img {
    border-radius:3px;
}

#filters label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
        margin:30px 0px;

    width: 16.66666666666667%;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background:white;
    float:left;
    text-align:center;
    box-shadow: 
        0px 0px 0px 1px #aaa, 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 1px 2px rgba(0,0,0,0.2);
}

#filters label.ff-label-type-all{
    border-radius: 3px 0px 0px 3px;
}

#filters label.ff-label-type-3{
    border-radius: 0px 3px 3px 0px;
}

#filters input.ff-selector-type-all:checked ~ label.ff-label-type-all,
#filters input.ff-selector-type-1:checked ~ label.ff-label-type-1,
#filters input.ff-selector-type-2:checked ~ label.ff-label-type-2,
#filters input.ff-selector-type-3:checked ~ label.ff-label-type-3,
#filters input.ff-selector-type-4:checked ~ label.ff-label-type-4,
#filters input.ff-selector-type-5:checked ~ label.ff-label-type-5{
    background: #4bbbeb;
    color: #f0f0f0;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 
        0px 0px 0px 1px #40496e, 
        0 2px 2px rgba(0,0,0,0.1) inset;
}

#filters input{
    display: none;
}

ul.candy li {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #7E8385;
    margin-bottom: 5px;
    margin-right: 3px;
    list-style: none;
    background: white;
}

ul.candy li:hover {
    opacity: 1;
}

#about {
    background-color:#f0f0f0;
    padding:50px 0px;
}

#contact {
    background-color:#f0f0f0;
    padding:40px 0px;
}

.hero-space {
height: 17px;
width:50%;
    background: url('../img/hr.png') no-repeat;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
    background-position: top center;
}

.bn {
    background:tansparent;
    border:2px solid #4bbbeb;
    padding:.8em 1.6em;
    color:#4bbbeb;
    text-decoration:underline;
    font-weight:bold;
    font-size:1.2em;
}

.be {
    background:#4bbbeb;
    border:2px solid white;
    padding:.8em 1.6em;
    color:white;
    text-decoration:underline;
    font-weight:bold;
    font-size:1.2em;
}

.element-item:hover {
    color: #fff;
    opacity: 0.5;
}