@media screen and (max-width: 400px) {

    .element-item {
        width: 100%;
        margin-left:0px;
    }
}

@media screen and (max-width: 767px) {
    
    nav {
        display:none;
    }
    
    .slicknav_menu {
        display:block;
        background:#4bbbeb;
        background-image:;
    }

    #hero {
    	height:auto;
    	padding-bottom:50px;
    }

    .box {
    	margin-left:0%;
    }

    	.box img {
    		height:100px;
    	}

    #about h3 {
        padding-top: 40px;
    }

    .mci {
	    font-size:18px;
	}

    #quote h1 {
        font-size:26px;
    }
    
    .wow {
        visibility: visible !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
    
    #nav-wrapper {
        width:100%;
    }

    .mci {
	    font-size:22px;
	}

	#filters label {
		font-size: 12px;
	}

    #quote h1 {
        font-size:34px;
    }
}

@media screen and (max-width: 992px) {
    
	#hero h1{
		padding-top:20px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    #filters label {
        font-size: 14px;
    }
}