@media screen and (max-width: 767px) {
    
    nav {
        display:none;
    }
    
    .slicknav_menu {
        display:block;
        background:#4bbbeb;
        background-image:;
    }

    #hero {
    	height:auto;
    	padding-bottom:50px;
    }

    .box {
    	margin-left:0%;
    }

    	.box img {
    		height:100px;
    	}

    #about h3 {
        padding-top: 40px;
    }

    .mci {
	    font-size:18px;
	}
}

@media screen and (min-width: 767px) and (max-width: 992px) {
    
    #nav-wrapper {
        width:100%;
    }

    .mci {
	    font-size:22px;
	}

	#filters label {
		font-size: 12px;
	}
}

@media screen and (max-width: 992px) {
    
	#hero h1{
		padding-top:20px;
	}
}